<template>
    <div class="modal-mask">
        <div class="modal-wrapper">
            <div class="modal-container">
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalLabel">{{this.isEditingFlag ? "編集":"新規作成"}}</h5>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <label for="title" class="col-sm-2 col-form-label">タイトル</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="item.title">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="comment" class="col-sm-2 col-form-label">コメント</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" v-model="item.comment" wrap="hard" rows=5 style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="deadline" class="col-sm-2 col-form-label">期限</label>
                        <div class="col-sm-10">
                            <v-date-picker v-model="item.deadline">
                                <template v-slot="{ inputValue, inputEvents }">
                                    <input class="bg-white border px-2 py-1 rounded" :value="inputValue" v-on="inputEvents"/>
                                </template>
                            </v-date-picker>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="priority" class="col-sm-2 col-form-label">優先度</label>
                        <div class="col-sm-10">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="priority" v-model="item.priority" value=1>
                                <label class="form-check-label" for="priority1">低</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="priority" v-model="item.priority" value=2>
                                <label class="form-check-label" for="priority2">中</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="priority" v-model="item.priority" value=3>
                                <label class="form-check-label" for="priority3">高</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="priority" class="col-sm-2 col-form-label">完了</label>
                        <div class="col-sm-10">
                            <div class="form-check form-check-inline form-switch">
                                <input class="form-check-input" type="checkbox" id="finish" value=1 v-model="item.finish_flag">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @click="$emit('close')" v-bind:disabled="isLoading">キャンセル</button>
                    <button type="button" class="btn btn-primary btn-spinner" @click="register" v-bind:disabled="isLoading">
                        <span class="spinner-border spinner-border-sm" v-if="isLoading"></span>
                        <span>登録</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios"
export default {
    inject: ["getSelectedItem", "isEditing"],
    methods:{
        register() {
            this.isLoading = true
            var method = this.isEditingFlag ? "update" : "create"
            var deadline = this.item.deadline ?
                new Date(this.item.deadline.getFullYear(), this.item.deadline.getMonth(), this.item.deadline.getDate()).getTime() : undefined
            var param = {
                todo_id : this.item.todo_id,
                create_date : this.item.create_date,
                title: this.item.title,
                comment: this.item.comment,
                deadline: deadline,
                priority: Number(this.item.priority),
                finish_flag: this.item.finish_flag,
            }
            axios.post("http://127.0.0.1:3000/todolist/" + method, param)
            .then(res => {
                var event = this.isEditingFlag ? "edited": "created"
                this.$emit(event, res.data)
                this.$emit("close")
            })
            .finally(()=>{
                this.isLoading = false
            })
        }
    },
    data() {
        return {
            isLoading: false,
            isEditingFlag: this.isEditing(),
            item: this.isEditing() ?
                // itemそのものを渡すと編集画面の変更が一覧と同期してしまうので、{...xxx}でコピーしたものを渡す
                {...this.getSelectedItem()} :
                // <input type="radio" checked="checked">で初期値を設定したかったが、実際のオブジェクトは空だったのでここで決め打ち
                {priority :2}
        }
    },
}
</script>