<template>
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
            <div class="modal-header">
                <h5 class="modal-title">削除</h5>
            </div>
            <div class="modal-body">削除します。よろしいですか？</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="$emit('close')" v-bind:disabled="isLoading">キャンセル</button>
                <button type="button" class="btn btn-primary btn-spinner" @click="deleteTodo()" v-bind:disabled="isLoading">
                    <span class="spinner-border spinner-border-sm" v-if="isLoading"></span>
                    <span>削除</span>
                </button>
            </div>
        </div>
      </div>
    </div>
</template>

<script>
import axios from "axios"
export default {
    inject: ["getSelectedItem"],
    methods:{
        deleteTodo() {
            this.isLoading = true
            var selectedItem = this.getSelectedItem()
            axios.post("http://127.0.0.1:3000/todolist/delete",{
                todo_id: selectedItem.todo_id,
                create_date: selectedItem.create_date,
            })
            .then(() => {
                this.$emit("deleted")
                this.$emit("close")
            })
            .finally(() => {
                this.isLoading = false
            })
        }
    },
    data() {
        return {
            isLoading: false,
        }
    },    
}
</script>