<template>
    <div class="modal-mask">
        <div class="modal-wrapper">
            <div class="modal-container">
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalLabel">検索</h5>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <label for="title" class="col-sm-2 col-form-label">タイトル</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="condition.title">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="comment" class="col-sm-2 col-form-label">コメント</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="condition.comment">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="deadline" class="col-sm-2 col-form-label">期限</label>
                        <div class="col-sm-10">
                            <v-date-picker v-model="condition.deadlineFrom" class="d-inline">
                                <template v-slot="{ inputValue, inputEvents }">
                                    <input class="bg-white border px-2 py-1 rounded" :value="inputValue" v-on="inputEvents"/>
                                </template>
                            </v-date-picker>
                            <p class="d-inline p-3">～</p>
                            <v-date-picker v-model="condition.deadlineTo" class="d-inline">
                                <template v-slot="{ inputValue, inputEvents }">
                                    <input class="bg-white border px-2 py-1 rounded" :value="inputValue" v-on="inputEvents"/>
                                </template>
                            </v-date-picker>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="priority" class="col-sm-2 col-form-label">優先度</label>
                        <div class="col-sm-10">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="searchPriority" v-model="condition.priority" value=0>
                                <label class="form-check-label" for="searchPriority0">指定なし</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="searchPriority" v-model="condition.priority" value=1>
                                <label class="form-check-label" for="searchPriority1">低</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="searchPriority" v-model="condition.priority" value=2>
                                <label class="form-check-label" for="searchPriority2">中</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="searchPriority" v-model="condition.priority" value=3>
                                <label class="form-check-label" for="searchPriority3">高</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="priority" class="col-sm-2 col-form-label">完了</label>
                        <div class="col-sm-10">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="finish" v-model="condition.finish" value=0>
                                <label class="form-check-label" for="searchPriority0">指定なし</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="finish" v-model="condition.finish" value=1>
                                <label class="form-check-label" for="searchPriority1">未</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="finish" v-model="condition.finish" value=2>
                                <label class="form-check-label" for="searchPriority2">完</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @click="$emit('close')" v-bind:disabled="isLoading">キャンセル</button>
                    <button type="button" class="btn btn-primary btn-spinner" @click="search" v-bind:disabled="isLoading">
                        <span class="spinner-border spinner-border-sm" v-if="isLoading"></span>
                        <span>検索</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios"
export default {
    methods:{
        search() {
            this.isLoading = true
            var param = {
                title: this.condition.title,
                comment: this.condition.comment,
                deadline_from: this.getDeadline(this.condition.deadlineFrom),
                deadline_to: this.getDeadline(this.condition.deadlineTo),
            }

            var priority = Number(this.condition.priority)
            if (priority!= 0){
                param["priority"] = priority
            }

            var finish = Number(this.condition.finish)
            if (finish != 0){
                param["finish"] = finish
            }
            
            axios.get("http://127.0.0.1:3000/todolist/search", {params:param})
            .then(res => {
                this.$emit("searched", this.condition, res.data);
                this.$emit("close")
            })
            .finally(()=>{
                this.isLoading = false
            })
        },
        getDeadline(deadline){
            return deadline ?
            new Date(deadline.getFullYear(), deadline.getMonth(), deadline.getDate()).getTime() : undefined
        },
    },
    inject: ["getLastSearchCondition"],
    data() {
        return {
            isLoading: false,
            condition: this.getLastSearchCondition(),
        }
    },
}
</script>