<template>
  <div class="container">
    <div class="row">
      <h3 class="col">TodoList</h3>
      <div class="col todo-btn-group">
        <button type="button" class="btn btn-primary" @click="creating">新規作成</button>
        <button type="button" class="btn btn-primary" @click="editing" v-bind:disabled="!isSelected">編集</button>
        <button type="button" class="btn btn-primary" @click="showDeleteModal = true" v-bind:disabled="!isSelected">削除</button>
        <button type="button" class="btn btn-primary" @click="showSearchModal = true">検索</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <transition name="createModal">
          <create-modal v-if="showCreateModal" @close="showCreateModal = false" @created="created" @edited="edited"/>
        </transition>
        <transition name="deleteModal">
          <delete-modal v-if="showDeleteModal" @close="showDeleteModal = false" @deleted="deleted"/>
        </transition>
        <transition name="searchModal">
          <search-modal v-if="showSearchModal" @close="showSearchModal = false" @searched="searched"/>
        </transition>

        <table class="table table-striped table-hover">
          <thead class="table-light">
            <tr>
              <th scope="col" class="todo-col1"></th>
              <th scope="col">タイトル</th>
              <th scope="col">コメント</th>
              <th scope="col" class="todo-col4">期限</th>
              <th scope="col" class="todo-col5">優先度</th>
              <th scope="col" class="todo-col6">状態</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in items" :key="item.todo_id">
              <td>
                <input class="form-check-input" type="radio" :value="item" name="check" v-on:change="onChange(item)">
              </td>
              <td>{{this.getFixedString(item.title)}}</td>
              <td>{{this.getFixedString(item.comment)}}</td>
              <td>{{this.getDeadlineString(item.deadline)}}</td>
              <td>{{this.getPriorityString(item.priority)}}</td>
              <td>{{this.getStatus(item)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-mask" v-if="isInitializing"> 
      <div class="modal-wrapper text-center">
        <div class="spinner-border text-light"></div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from "axios"
  import "./components/style.css";
  import createModal from './components/create.vue';
  import deleteModal from './components/delete.vue';
  import searchModal from './components/search.vue';

  export default {
    name: 'App',
    components: {
      createModal,
      deleteModal,
      searchModal,
    },
    data() {
      return {
        showCreateModal: false,
        showDeleteModal: false,
        showSearchModal: false,
        items: {},
        selectedItem: null,
        isSelected: false,
        isEditing: false,
        lastSearchCondition: {priority: 0, finish: 0},
        isInitializing: true,
      }
    },
    methods: {
      search() {
        axios.get("http://127.0.0.1:3000/todolist/search")
        .then(res => {
          res.data.forEach(item => {
            this.convertUnixTime2Date(item) 
          });
          this.items = res.data
          this.isInitializing = false
        })    
      },
      onChange(item) {
        this.selectedItem = item
        this.isSelected = !!item
      },
      creating() {
        this.isEditing = false
        this.showCreateModal = true
      },
      created(item) {
        this.convertUnixTime2Date(item) 
        this.items.unshift(item)
      },
      editing() {
        this.isEditing = true
        this.showCreateModal = true
      },
      edited(item) {
        this.convertUnixTime2Date(item)

        // 値が反映されないので手動
        this.selectedItem.title = item.title
        this.selectedItem.comment = item.comment
        this.selectedItem.deadline = item.deadline
        this.selectedItem.priority = item.priority
        this.selectedItem.finish_flag = item.finish_flag
        this.selectedItem.status = item.status
      },
      deleted() {
        this.items = this.items.filter((item) => item.todo_id !== this.selectedItem.todo_id)
        this.onChange()
      },
      searched(condition, items) {
        this.lastSearchCondition = condition
        items.forEach(item => {
          this.convertUnixTime2Date(item) 
        });
        this.items = items
        this.onChange()
      },
      getFixedString(str){
        if (!str || str.length < 21){
          return str
        } else {
          return str.slice(0, 20) + "..."
        }
      },
      getPriorityString(priority){
        switch(priority){
          case 1:
            return "低"
          case 2:
            return "中"
          case 3:
            return "高"
          default:
            return ""
        }
      },
      getDeadlineString(deadline){
        if (!deadline){
          return ""
        } else {
          return deadline.getFullYear() + "年" + (deadline.getMonth() + 1) + "月" + deadline.getDate() + "日"
        }
      },
      getStatus(item){
        if (item.finish_flag){
          return "完了";
        } else if(!item.deadline){
          return "";
        } else {
          var now = new Date();
          var today = new Date(now.getFullYear(), now.getMonth(), now.getDate()).getTime()
          return today > item.deadline ? "期限超過" : "";
        }
      },
      convertUnixTime2Date(item){
        if (item.deadline){
          item.deadline = new Date(item.deadline)
        }
      },
    },
    mounted() {
      this.search()
    },
    provide() {
      return {
        getSelectedItem: () => this.selectedItem,
        isEditing: () => this.isEditing,
        getLastSearchCondition: () => this.lastSearchCondition,
      }
    },
  }
</script>